section.section.d-bg#equipment
  .container
    .col-lg-10.mx-auto
      h2= 'Наши возможности растут'
      p.text-center= 'Наша компания постоянно расширяет круг своей деятельности в швейном производстве. На сегодняшний день мы располагаем большим колличеством профессионального оборудования.'
