header(data-paroller-factor="0.3" data-paroller-factor-sm="0.2" data-paroller-factor-xs="0.1")
  .cover
  .intro.container(data-modifier="30" )

    #logo.logo
      img(src='/img/svg/logo.svg')
      .name
        span= 'Бланх'
        h1= 'Швейное производство'


    span.slogan.d-none= 'Достигаем безупречного качества'




  a.js-scroll-trigger.next(href='#about')
    include /img/svg/scroll-down.svg


