include variables
doctype html
html(lang='ru-RU') 
  include includes/head 

  body

    include /img/svg/filters.svg
    include includes/navBar
    include includes/header
    include includes/About
    include includes/Services
    include includes/equipment
    include includes/clients
    include includes/contacts
    include includes/footer
    script(src="js/libs.min.js")
    script(src="js/main.js")


