//- meta
- var $title = 'Швейное производство в Москве'
- var $description='Пошив колекций дизайнерской одежды на заказ'
- var $author = 'Yan Motronovsky'
//- css
-
  var $css = [
  'fonts/fonts.css',
  'css/csslibs.min.css',
  'css/main.css',
  'css/style.css'
  ]

//- sections
-
  var $sections = [
    {value: 'about', name: 'О нас'},
    {value: 'services', name: 'Услуги'},
    {value: 'equipment', name: 'Оборудование'},
    {value: 'clients', name: 'Клиенты'},
    {value: 'contacts', name: 'Контакты'},
  ]

//- clients
-
  var $clients = [
    {value: 'sergeenko', link: 'https://ulyanasergeenko.com'},
    {value: 'littleDrama', link: 'https://littledrama.ru'},
    {value: 'loom', link: 'https://loom.moscow'},
    {value: 'ruban', link: 'https://www.rubancouture.com/ru/'},
    {value: 'soeasy', link: 'https://soeasy.moscow'},
    {value: 'fournames', link: 'http://fournames.ru'},
    {value: 'annarusska', link: 'http://annarusskacouture.ru'},
    {value: 'dimaneu', link: 'http://dimaneu.ru'},
  ]
